<template>
    <div>
        <button @click="resetFilter"
                v-show="isFiltered && showSearch"
                class="btn btn-md btn-link">
                <span class="fa fa-close"></span>&nbsp;Reset Filter
        </button>
        <searchbar ref="searchbar"
                   v-show="showSearch"
                   :endpoint="searchEndPoint()"
                   :hitpoint="endpoint"
                   :entity-name="entityName"
                   @searchset:changed="searchChanged"
        ></searchbar>

        <vuetable ref="gridtable"
                  :api-url="endpoint"
                  :fields="fields"
                  pagination-path=""
                  :css="css.table"
                  @vuetable:pagination-data="onPaginationData"
                  :detail-row-component="detailRow"
                  @vuetable:cell-dblclicked="onCellDblClicked"
        >
            <template slot="actions" slot-scope="props">
                <div class="custom-actions">
                    <button class="btn btn-sm btn-info"
                            @click="itemAction('view', props.rowData, props.rowIndex)"
                            v-show="canView">
                        <span class="fa fa-eye"></span>
                    </button>
                    <button class="btn btn-sm btn-warning"
                            @click="itemAction('edit', props.rowData, props.rowIndex)"
                            v-show="canEdit">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button class="btn btn-sm btn-danger"
                            @click="itemAction('delete', props.rowData, props.rowIndex)"
                            v-show="canDelete">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
            </template>

            <template slot="detail" slot-scope="props">
                <button class="btn btn-sm btn-default"
                        @click="showDetailRow(props.rowData.id)">
                    <span class="fa fa-plus"></span>
                </button>
            </template>
        </vuetable>

        <div :class="css.pagination.wrapperClass" v-show="! isFiltered">
            <div class="row-level">
                <div class="rfl-1">
                    <vuetable-pagination-info ref="paginationInfo"
                                            :info-class="css.paginationInfo"
                                            :info-template="paginationInfo"
                                            :no-data-template="paginationInfoNoData"
                    ></vuetable-pagination-info>
                </div>
                <button class="btn btn-md btn-success"
                        @click="create()">
                    <span class="fa fa-plus"></span>&nbsp;{{ createText }}
                </button>
            </div>

            <pagination ref="pagination"
                      @vuetable-pagination:change-page="onChangePage"
            ></pagination>

        </div>
    </div>
</template>

<script>

import Vuetable from './Vuetable/Vuetable'
import Pagination from './VuePagination.vue'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import Searchbar from './SearchBar.vue'

import datatypes from '../mixins/datatypes.js'
import flash from '../mixins/flash.js'

export default {
    components: {
        Vuetable,
        Pagination,
        VuetablePaginationInfo,
        Searchbar
    },

    mixins: [
        datatypes,
        flash
    ],

    props: {
        fields: {
            type: Array,
            required: true
        },
        detailRow: {
            default: ''
        },
        endpoint: {
            type: String,
            required: true,
            default: ''
        },
        entityName: {
            type: String,
            default: 'registros'
        },

        createText: {
            type: String,
            default: 'Nuevo'
        },

        canView: {
            default: false
        },

        canEdit: {
            default: false
        },

        canDelete: {
            default: false
        },

        showSearch: {
            default: true
        }
    },

    data() {
        return {
            originalData: {},

            isFiltered: false,

            css: {
                table: {
                    tableClass: 'table table-striped table-hover',
                    ascendingIcon: 'glyphicon glyphicon-chevron-up',
                    descendingIcon: 'glyphicon glyphicon-chevron-down'
                },
                pagination: {
                    wrapperClass: 'text-center'
                },
                paginationInfo: {

                },
                icons: {
                    first: 'glyphicon glyphicon-step-backward',
                    prev: 'glyphicon glyphicon-chevron-left',
                    next: 'glyphicon glyphicon-chevron-right',
                    last: 'glyphicon glyphicon-step-forward',
                },
            }
        };
    },

    methods: {
        onPaginationData(paginationData) {
            this.$refs.pagination.setPaginationData(paginationData)
            this.$refs.paginationInfo.setPaginationData(paginationData)
            // this.originalData = this.originalData = this.$refs.gridtable.tableData;
        },

        onChangePage(page) {
            this.$refs.gridtable.changePage(page);
            history.pushState(null, null, '?page=' + page);
        },

        searchEndPoint() {
            return '/search' + this.endpoint;
        },

        itemAction(action, data, index) {
            if(action == 'view')
                return window.location.href = this.endpoint + '/' + data.id;

            if(action == 'edit')
                return window.location.href = this.endpoint + '/' + data.id + '/edit';

            return this.delete(data.id, data.caption, index);
        },

        create() {
            window.location.href = this.endpoint + '/create';
        },

        delete(id, caption, index) {
            this.confirm('You will not be able to undo the operation', 'Delete ' +  caption, 'Delete', 'Cancel','#A00')
                .then( (result) => {
                    if(result.value)
                    {
                        axios.delete(this.endpoint + '/' + id)
                            .then( response => {
                                this.$refs.gridtable.reload();
                                this.flashSuccess('Deleted successfully!');
                            })
                            .catch( error => {
                                this.alertError('An error has ocurred when trying to delete');
                            });
                    } else  {
                        this.flashSuccess('Process was cancelled.');
                    }

                })
                .catch(() => {});
        },

        isEditable(field) {
            let definition = this.fields.filter(function(f){
                return f.name == field.name;
            });

            return definition[0].editable;
        },

        onCellDblClicked(data, field, event) {

            if(! this.isEditable(field))
                return ;

            let id = data.id;
            let value = data[field.name];

            this.inputBox('Edit', value)
                .then(newValue => {
                    if (newValue.value)
                    {
                        let params = {};

                        params[field.name] = newValue.value;

                        axios.patch(this.endpoint + '/' + id, params)
                            .then(response => {

                                data[field.name] = newValue.value;
                                this.flashSuccess('Updated successfully!');
                            })
                            .catch(error => {
                                let msgs = '';

                                $.each(error.response.data.errors, function(key, msg) {
                                    msgs += msg[0];
                                });

                                this.alertError(msgs);
                            })
                    }
                })
                .catch(() => {

                });
        },

        showDetailRow(id) {
            this.$refs.gridtable.toggleDetailRow(id);
        },

        searchChanged(data) {
            if (data.length > 0) {
                this.$refs.gridtable.setData(data);

                this.isFiltered = true;
            }else{
                if(this.$refs.searchbar.query.length == 0) {
                    this.resetFilter();
                }
            }
        },

        resetFilter() {
            this.$refs.gridtable.setApiModeOn();

            this.$refs.gridtable.reload();

            this.$refs.searchbar.resetQuery();

            this.isFiltered = false;
        }

    },

    computed: {
        paginationInfoNoData() {
            return 'No existen ' + this.entityName + ' para desplegar.';
        },

        paginationInfo() {
            return 'Mostrando ' + this.entityName + ' del {from} al {to} de {total}';
        }
    }
}
</script>


<style scoped>
    .row-level {
        display: flex;
    }

    .rfl-1 {
        flex: 1;
    }

    .custom-actions {
        display: flex;
        justify-content: center;

    }

    .custom-actions > button {
        margin-right: 3px;
    }
</style>