<template>
    <div class="col-md-8 col-md-offset-2">
        <i class="fa fa-spinner fa-spin" v-if="loading"></i>

        <template v-else>
            <i class="fa fa-search"
               v-show="isEmpty">
            </i>
            <i class="fa fa-times"
               v-show="isDirty"
               @click="reset">
            </i>
        </template>

        <div class="row">
            <div class="form-group">
                <input type="text"
                     class="form-control"
                     :placeholder="getPlaceholder()"
                     autocomplete="off"
                     ref="searchinput"
                     v-model="query"
                     @keydown.down="down"
                     @keydown.up="up"
                     @keydown.enter="hit"
                     @keydown.esc="reset"
                     @blur="hide"
                     @input="update"
                     @keydown.ctrl.enter="fireCtrlEnter"
                />
                <ul v-show="showUl" :class="getAbsoluteULClass()">
                    <li v-for="(item, $item) in items"
                        :class="activeClass($item)"
                        @mousedown="hit"
                        @mousemove="setActive($item)"
                    >
                        <span class="name" v-text="item.searchTitle"></span>
                        <span class="screen-name" v-text="item.searchSubtitle"></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-right" v-show="useInlineNew">
            <a class="btn btn-xs btn-success"
                @click="fireCtrlEnter">
                <span class="fa fa-plus"></span>&nbsp;Nuevo
            </a>
        </div>

    </div>
</template>

<script>
    import VueTypeahead from 'vue-typeahead'

    export default {
        extends: VueTypeahead,

        props: {
            endpoint: {
                type: String,
                required: true
            },

            hitpoint: {
                type: String,
                required: false
            },

            entityName: {
                default: ''
            },

            floatingResults: {
                type: Boolean,
                default: false
            },

            useInlineNew: {
                type: Boolean,
                default: false
            }
        },

        data() {
            return {
                src: this.endpoint,
                limit: 5,
                minChars: 3,
                selectFirst: false,
                toggleClass: '',
                hideResults: false

            };
        },

        watch: {
            items: function (newItems) {
                this.$emit('searchset:changed',newItems);
                this.show();
            }
        },

        computed: {
            showUl() {
                return this.hasItems && !this.hideResults;
            }
        },

        methods: {
            getPlaceholder() {
                return 'Buscar ' + this.entityName + ' ...';
            },

            onHit(item) {
                this.$emit('searchset:onhit',item,this.query);
            },

            getAbsoluteULClass() {
                if (this.floatingResults) {
                    return 'absolute-div'
                }
                return  '';
            },

            hide() {
                this.hideResults = true;
            },

            show() {
                this.hideResults = false;
            },

            resetQuery() {
                this.query = '';
            },

            fireCtrlEnter(event) {

                this.$emit('searchset:ctrlenter',this.query);
            }
        }
    }
</script>

<style scoped>
    .Typeahead {
        position: relative;
    }

    .Typeahead__input {
        width: 100%;
        font-size: 14px;
        color: #2c3e50;
        line-height: 1.42857143;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, .4);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        font-weight: 300;
        padding: 12px 26px;
        border: none;
        border-radius: 22px;
        letter-spacing: 1px;
        box-sizing: border-box;
    }

    .Typeahead__input:focus {
        border-color: #4fc08d;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #4fc08d;
    }

    .fa-times {
        cursor: pointer;
    }

    i {
        float: right;
        position: relative;
        top: 30px;
        right: 29px;
        opacity: 0.4;
    }

    ul {
        padding: 0;
        margin-top: 4px;
        min-width: 100%;
        background-color: #fff;
        list-style: none;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        z-index: 1000;
    }

    li {
        padding: 10px 16px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
    }

    li:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    li:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 0;
    }

    span {
        display: block;
        color: #2c3e50;
    }

    .active {
        background-color: #3aa373;
    }

    .active span {
        color: white;
    }

    .name {
        font-weight: 700;
        font-size: 18px;
    }

    .screen-name {
        font-style: italic;
    }

    .absolute-div {
        position: absolute;
    }

    .hidden {
        display: none;
    }
</style>