<template>
    <nav aria-label="Page navigation"
         v-if="tablePagination && tablePagination.last_page > 1">
        <ul :class="styles.pagination.class">
            <li :class="[isOnFirstPage ? styles.pagination.disabledClass : styles.pagination.itemClass]">
                <a :class="styles.pagination.linkClass" @click="loadPage(1)">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li :class="[isOnFirstPage ? styles.pagination.disabledClass : styles.pagination.itemClass]">
                <a :class="styles.pagination.linkClass" @click="loadPage('prev')"
                    aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
               </a>
            </li>
            <template v-if="notEnoughPages">
                <template v-for="n in totalPage">
                    <li :class="[isCurrentPage(n) ? styles.pagination.activeClass : styles.pagination.itemClass]">
                        <a :class="styles.pagination.linkClass" @click="loadPage(n)"
                            v-html="n"></a>
                    </li>
                </template>
            </template>

            <li :class="[isOnLastPage ? css.disabledClass : '']">
                <a :class="styles.pagination.linkClass" @click="loadPage('next')" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li :class="[isOnLastPage ? css.disabledClass : '']">
                <a :class="styles.pagination.linkClass" @click="loadPage(totalPage)">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
    import PaginationMixin from 'vuetable-2/src/components/VuetablePaginationMixin.vue'

    export default {
        mixins: [PaginationMixin],

        data() {
            return {
                styles: {
                    pagination: {
                        disabledClass: 'page-item disabled',
                        itemClass: 'page-item',
                        linkClass: 'page-link',
                        class: 'pagination',
                        activeClass: 'page-item active'
                    }
                }
            };
        }
    }
</script>

<style>
    li > a {
        cursor: pointer;
    }
</style>