<template>
    <div class="gridtemplate">
        <div class="tab-header">Details</div>
        <div @click="onClick"
             class="detail">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-xs-6 text-right"><strong>Field title</strong></div>
                    <div class="col-xs-6">{{ rowData.field1 }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-right"><strong>Field title</strong></div>
                    <div class="col-xs-6">{{ rowData.field1 }}</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 text-right"><strong>Field title</strong></div>
                    <div class="col-xs-6">{{ rowData.firsfield3 }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import datatypes from "../../mixins/datatypes.js"
    
    export default {
        mixins: [datatypes],
        props: {
            rowData: {
                type: Object,
                required: true
            },
            rowIndex: {
                type: Number
            }
        },
        methods: {
            onClick (event) {
                // console.log('people-detail-row: on-click', event.target);
            }
        }
    }
</script>

<style scoped>
    .tab-header {
        margin-left: 15px;
        width: 25%;
        height: 25px;
        border-radius: 15px 15px 0 0 ;
        background-color: lightgray;
        padding-left: 10px;
        padding-top:  2px;        
    }

    .detail {
        background-color:white;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 15px 15px 0px 0px;        
    }

    .gridtemplate {
        display: grid;
    }
</style>